<div class="news-card-componet-div white">
    <div class="news-card-img">
        <img src="{{path image}}" alt="Card Image">
    </div>
    <div class="news-card-cntnt">
        <p class="news-date">{{ pubdate }}</p>
        <a class="news-card-link" href="#">{{ headline }}</a>
        <p class="published-status">{{ published }}</p>
        <p>{{ text }}</p>
    </div>
</div>