<div class="news-card-list">
    <div class="row">
        <!-- Blue Example -->
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="news-card-componet-div blue">
                <div class="news-card-img">
                    <img src="{{path '/college-dls/_files/college/images/News_Blog.png'}}" alt="Card Image">
                </div>
                <div class="news-card-cntnt">
                    <p class="news-date">June 1, 2021</p>
                    <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
                    <p class="published-status">{{ published }}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <!-- Silver Example -->
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="news-card-componet-div silver">
                <div class="news-card-img">
                    <img src="{{path '/college-dls/_files/college/images/News_Blog.png'}}" alt="Card Image">
                </div>
                <div class="news-card-cntnt">
                    <p class="news-date">June 1, 2021</p>
                    <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
                    <p class="published-status">{{ published }}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <!-- White Example -->
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 lightgrey-bg" style="padding:10px;">
            <div class="news-card-componet-div white">
                <div class="news-card-img">
                    <img src="{{path '/college-dls/_files/college/images/News_Blog.png'}}" alt="Card Image">
                </div>
                <div class="news-card-cntnt">
                    <p class="news-date">June 1, 2021</p>
                    <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
                    <p class="published-status">{{ published }}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
