<section class="select-publication-sec scholarship-type-designs">
    <div class="container">
        <div class="accordion" id="accordion">
            <h2 class="h3 blue mb-4">{{group-title}}</h2>
            <div class="accordion-item">
                <p class="accordion-header" id="heading-01">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapse-01">
                        {{heading}}
                    </button>
                </p>
                <div id="collapse-01" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="accordion-body-content">
                            <h5>{{heading}}</h5>
                            <p>
                                 <img src="https://utsa-asc.github.io/college-dls/college-dls/college/images/content-highland-card.png">
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="heading-02">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapse-02">
                        {{heading}}
                    </button>
                </p>
                <div id="collapse-02" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="accordion-body-content">
                            <h5>{{title}}</h5>
                            <p>
                                 <img src="https://utsa-asc.github.io/college-dls/college-dls/college/images/content-highland-card.png">
                            </p>
                            <p>Very little content but image doesn't overflow.</p>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <p class="accordion-header" id="heading-03">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                        data-bs-target="#collapse-03">
                        {{heading}}
                    </button>
                </p>
                <div id="collapse-03" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="accordion-body-content">
                            <h5>{{title}}</h5>
                            <p>
                                {{text}}
                            </p>
                            <ul class="ul-list">
                                <li class="list-item">Use the HTML <code>&lt;ol&gt;</code> element to define an ordered
                                    list

                                </li>
                                <li class="list-item">Use the HTML type attribute to define the numbering type</li>
                                <li class="list-item">Use the HTML <code>&lt;li&gt;</code> element to define a list item
                                </li>
                                <li class="list-item">Lists can be nested
                                    <ul class="ul-list">
                                        <li class="list-item">List nested</li>
                                        <li class="list-item">List nested</li>
                                    </ul>
                                </li>
                                <li class="list-item">List items can contain other HTML elements. This one contains a
                                    <code>&lt;div&gt;</code> and an <code>&lt;img&gt;</code> HTML element.
                                    <div>
                                        <img class="p-2" src="https://utsa-asc.github.io/college-dls/college-dls/college/images/content-highland-card.png">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>