<section class="select-publication-sec scholarship-type-designs">
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header"> <a class="card-link" data-bs-toggle="collapse"
                        href="#collapse-01">{{ heading }}</a>
                </div>
                <div id="collapse-01" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="accordian-body-content">
                            <h5>{{ title }}</h5>
                            <p>{{ text }}</p>
                            <ul class="ul-list">
                                <li class="list-item">Use the HTML <ol> element to define an ordered list</li>
                                <li class="list-item">Use the HTML type attribute to define the numbering type</li>
                                <li class="list-item">Use the HTML
                                <li> element to define a list item</li>
                                <li class="list-item">Lists can be nested</li>
                                <li class="list-item">List items can contain other HTML elements</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header"> <a class="card-link" data-bs-toggle="collapse"
                        href="#collapse-02">{{ heading }}</a>
                </div>
                <div id="collapse-02" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="accordian-body-content">
                            <h5>{{ title }}</h5>
                            <p>{{ text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>