<div class="tab-wrapper">
    <div class="tab-header">
        <h2 class="h3 blue mb-4">{{group-title}}</h2>
        <ul class="nav nav-tabs" role="tablist">
            {{#each tabs}}
            {{#if @first}}
            <li role="presentation"><a class="active" data-bs-toggle="tab" href="#{{id}}">{{title}}</a></li>
            {{else}}
            <li role="presentation"><a class="" data-bs-toggle="tab" href="#{{id}}">{{title}}</a></li>
            {{/if}}
            {{/each}}
            <li role="presentation"><a class="" data-bs-toggle="tab" href="#tab-06">Resource List</a></li>
        </ul>
    </div>
    <div class="tab-content">
        {{#each tabs}}
        <div id="{{id}}" class="tab-pane fade in {{#if @first}}active{{/if}} show">
            <div class="card-body">
                <div class="tab-body-content">
                    <h2>{{heading}} - h2</h2>
                    <table class="table-design-blue">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Place</th>
                                <th scope="col">Speaker</th>
                                <th scope="col">Topic</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>xx, 20yy <br> 9-10 AM</td>
                                <td>xxx</td>
                                <td><strong>xxx, PhD</strong> <br> title <br>
                                    <ul>
                                        <li>Faculty Profile</li>
                                    </ul>
                                </td>
                                <td>xxx <br> <em>—seminar flyer</em></td>
                            </tr>
                            <tr>
                                <th scope="row">xx, 20yy <br> 9-10 AM</th>
                                <td>xxx</td>
                                <td><strong>xxx, PhD</strong> <br> title <br>
                                    <ul>
                                        <li>Faculty Profile</li>
                                    </ul>
                                </td>
                                <td>xxx <br> <em>—seminar flyer</em></td>
                            </tr>
                            <tr>
                                <th scope="row">xx, 20yy <br> 9-10 AM</th>
                                <td>xxx</td>
                                <td><strong>xxx, PhD</strong> <br> title <br>
                                    <ul>
                                        <li>Faculty Profile</li>
                                    </ul>
                                </td>
                                <td>xxx <br> <em>—seminar flyer</em></td>
                            </tr>
                        </tbody>
                    </table>
                    <p><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna
                        a porta
                        lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                        aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                        neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                        sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                        lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                        vehicula hendrerit id eu libero.</p>
                    <ul>
                        <li>Use the HTML <code>&lt;ol&gt;</code> element to define an ordered list</li>
                        <li>Use the HTML type attribute to define the numbering type</li>
                        <li>Use the HTML <code>&lt;li&gt;</code> element to define a list item</li>
                        <li>Lists can be nested</li>
                        <li>List items can contain other HTML elements</li>
                    </ul>
                    <h3>{{heading}} - h3</h3>
                    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em> Maecenas tincidunt urna a porta
                        lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                        aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                        neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                        sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                        lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                        vehicula hendrerit id eu libero.</p>
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Maecenas tincidunt urna a porta
                            lobortis.</li>
                        <li>Aliquam sit amet eros quam.</li>
                        <li>Fusce venenatis ipsum non est porta porttitor.</li>
                        <li>Curabitur
                            aliquet mattis elit.</li>
                    </ol>
                    <pre>Mauris eget velit bibendum, auctor risus eu, elementum sem.</pre>
                    <p>Fusce magna
                        neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                        sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                        lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                        vehicula hendrerit id eu libero.</p>
                        <p><a href="" class="orange-btn">Orange Button</a> <a href="" class="blue-btn">Blue Button</a></p>
                </div>
            </div>
        </div>
        {{/each}}

        <div id="tab-06" class="tab-pane fade in show">
            <div class="card-body">
                <div class="tab-body-content">
                    <h2 class="h3 mb-3">Resources List</h2>
                    <div class="col-12 col-md-6">
                        <ul class="resources-list">
                            <li><a href="#foo">Example Link Text One</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="resources-list">
                            <li><a href="#foo">Example Link Text Two</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end tab-06 -->

    </div>
</div>