 <div class="tab-wrapper">
     <div class="tab-header">
        <h2 class="h3 blue mb-4">{{group-title}}</h2>
         <ul class="nav nav-tabs">
             {{#each tabs}}
                {{#if @first}}
                <li><a class="active" data-bs-toggle="tab" href="#{{id}}">{{title}}</a></li>
                {{else}}
                <li><a class="" data-bs-toggle="tab" href="#{{id}}">{{title}}</a></li>
                {{/if}}
            {{/each}}
         </ul>
     </div>
     <div class="tab-content">
         {{#each tabs}}
         <div id="{{id}}" class="tab-pane fade in {{#if @first}}active{{/if}} show">
             <div class="card-body">
                 <div class="tab-body-content">
                     <h2>{{heading}} - h2</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <ul>
                         <li>Use the HTML <code>&lt;ol&gt;</code> element to define an ordered list</li>
                         <li>Use the HTML type attribute to define the numbering type</li>
                         <li>Use the HTML <code>&lt;li&gt;</code> element to define a list item</li>
                         <li>Lists can be nested</li>
                         <li>List items can contain other HTML elements</li>
                     </ul>
                     <h3>{{heading}} - h3</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                 </div>
             </div>
         </div>
         {{/each}}
     </div>
 </div>