<div class="profile-deatils-componet-div white">
    <div class="row no-mrg">
        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="profile-deatils-img">
                <img class="clip-top-img" src="{{path image}}" alt="Card Image">
            </div>
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <div class="profile-deatils-cntnt">
                <h5>{{ name }}</h5>
                <p>{{ department }}</p>
                <p>{{ title }}</p>
                <a class="phone-no" href="tel:{{ phone }}">{{ phone }}</a> 
                <a class="mail-info" href="mailto:{{ email }}">{{ email }}</a>
            </div>
            <div class="profile-details-ul">
                <ul class="list-unstyled">
                    <li><a href="#">Degree from The University of </a></li>
                    <li><a href="#">Office Hours</a></li>
                    <li><a href="#">Texas at San Antonio</a></li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Research Areas of Interest</a></li>
                    <li><a href="#">Courses Taught</a></li>
                    <li><a href="#">Biography</a></li>
                    <li><a href="#">Download CV (PDF)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right-arrow-link">
        <a href="#"><img src="{{ path '/college-dls/utsa/images/right-arrow-orange.png'}}" alt="Arrow Image"></a>
    </div>
</div>