<div class="p-3"><h4 class="py-2" style="border-bottom:solid 3px #F15A22;">Background Colors</h3></div>
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 m-2">
    {{#each background }}
    <div class="col p-4">
        <div class="bg-color border {{ class }}" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> {{ name }}
            <strong>CSS Class:</strong> {{ className }}</pre>
        </div>
    </div>
    {{/each}}
</div>

<div class="p-3"><h3 class="py-2" style="border-bottom:solid 3px #F15A22;">Background Patterns</h3></div>
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 m-2">
    {{#each pattern }}
    <div class="col-4 p-4">
        <div class="bg-color border {{ class }}" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> {{ name }}
            <strong>CSS Class:</strong> {{ className }}</pre>
        </div>
    </div>
    {{/each}}
</div>


