<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>

  <!-- Main Content Body -->
  <main id="skipToContent">
    <h1>Stacked Component Testing Page</h1>
    <h2 class="display-2">TESTING ONLY - DO NOT USE</h2>

    {{ render '@link-list' link-list-context }}

    {{ render '@call-to-action-media--orange' cta-media-context }}
    {{ render '@call-to-action-media--orange-left' cta-media-context }}

    {{ render '@call-to-action-media--blue' cta-media-context }}
    {{ render '@call-to-action-media--blue-left' cta-media-context }}

    {{ render '@call-to-action-buttons--grey' }}
    {{ render '@call-to-action-buttons--blue' }}
    {{ render '@call-to-action-buttons--grey' }}


    {{ render '@call-to-action-media--orange' cta-media-context }}
    {{ render '@call-to-action-media--blue-left' cta-media-context }}

    {{ render '@call-to-action-media--orange-left' cta-media-context }}
    {{ render '@call-to-action-media--blue' cta-media-context }}

    {{ render '@call-to-action-buttons--grey' }}
    {{ render '@call-to-action-buttons--blue' }}
    {{ render '@call-to-action-buttons--grey' }}

    {{ render '@call-to-action-media--blue' cta-media-context }}
    {{ render '@call-to-action-buttons--grey' cta-media-context }}
    {{ render '@call-to-action-media--orange-left' cta-media-context }}
    {{ render '@call-to-action-media--left' cta-media-context }}
    {{ render '@call-to-action-media--blue-left' cta-media-context }}

    {{ render '@call-to-action-buttons' }}
    {{ render '@call-to-action-media--orange' cta-media-context }}
    {{ render '@call-to-action-media' cta-media-context }}
    {{ render '@call-to-action-media--blue' cta-media-context }}

    <section class="page-text-wrapper" id="skipToContent">
      <div class="container">
        <div class="row mobile-reverse-order">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <h2>Unordered and Ordered List Testing</h2>
              <h3 class="orange-a11y">UL With Classes Added</h3>
              <div class="unordered-list"><ul class="ul-list">
                <li>This is a list item.</li>
                <li>This is a list item.</li>
                <li class="ul-inner-list">This is a nested List
                  <ul><li>This is a list item.</li>
                      <li>This is a list item.</li>
                      <li>This is a list item.</li>
                    </ul>
                </li>
                <li>The Policy Studies Center of the College of Public Policy.</li>
              </ul>
              </div>
              <h3 class="orange-a11y">OL With Classes Added</h3>
              <div class="ordered-list"><ol class="ol-list">
                <li>This is a list item.</li>
                <li>This is a list item.</li>
                <li>This is a list item.</li>
              </ol>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
              <h2>Unordered and Ordered List Testing</h2>
              <h3 class="orange-a11y">UL With Classes Scoped to Page</h3>
              <div><ul>
                <li>This is a list item.</li>
                <li>This is a list item.</li>
                <li>This is a nested List
                <ul>
                <li>This is a list item.</li>
                <li>This is a list item.</li>
                <li>This is a list item.</li></ul>
                </li>
              </ul>
              </div>
              <h3 class="orange-a11y">OL With Classes Scoped to Page</h3>
              <div><ol>
                <li>This is a list item.</li>
                <li>This is a list item.</li>
                <li>This is a list item.</li>
              </ol>
              </div>
              <p>End of Lists.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- END CTA -->
  </main>
  {{ render '@back-to-top' }}  

</div>