<section class="py-5 white-bg">
    <div class="container">
        <div class="row pb-3">
            <div class="col">
                <h3>Top Left Mask Clip</h3>
                <p>
                    <span class="css-class">.clip-mask-top-left</span>
                </p>
                <img src="{{ path mask.image }}" class="clip-mask-top-left" alt="Card Image" />
            </div>
            <div class="col">
                <h3>Top Right Mask Clip</h3>
                <p>
                    <span class="css-class">.clip-mask-top-right</span>
                </p>
                <img src="{{ path mask.image }}" class="clip-mask-top-right" alt="Card Image" />
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h3>Bottom Left Mask Clip</h3>
                <p>
                    <span class="css-class">.clip-mask-bottom-left</span>
                </p>
                <img src="{{ path mask.image }}" class="clip-mask-bottom-left" alt="Card Image" />
            </div>
            <div class="col">
                <h3>Bottom Right Mask Clip</h3>
                <p>
                    <span class="css-class">.clip-mask-bottom-right</span>
                </p>
                <img src="{{ path mask.image }}" class="clip-mask-bottom-right" alt="Card Image" />
            </div>
        </div>
    </div>
</section>

<div class="py-5 grey-bg d-none">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                {{ render '@content-card'}}
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                {{ render '@content-card'}}
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                {{ render '@content-card'}}
            </div>
        </div>
    </div>
</div>

<div class="css-box">
    <p>Orange Anchor Tag : <span class="css-class">.orange-anchor</span></p>
    <p>Grey Anchor Tag : <span class="css-class">.grey-anchor</span></p>
    <p>Dark Blue Anchor Tag : <span class="css-class">.blue-anchor</span></p>
</div>

<div class="css-box">
    <p>Button Design : <span class="css-class">.action-btn</span></p>
    <p>Form Design : <span class="css-class">.form-btn</span></p>
</div>
