<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    {{ render '@global-header' }}
    {{ render '@site-navigation' }}
  </header>
  <!-- Header Section End -->
  <!-- Loader -->
  <div id="cover">
    <div class="loading-spin"><i class="fas fa-spinner"></i></div>
  </div>
  <!-- End Loader -->
  <!-- Main Content Body -->
  <main>
    <!--Slider -->
    <section class="slider-wrapper" id="main-slider-wrapper">
      {{> @banner--slim}}
      {{> @breadcrumb }}
    </section>
    <!-- End Slider -->
    <section class="position-relative py-5" id="skipToContent">
      <div class="container">
        <div class="profile-details-component-div white">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <input id="uuid" name="uuid" type="hidden" value="000rvg810">

            <h2>Juan Manuel Sanchez, Ph.D.</h2>
            <h5>Associate Dean of Graduate Studies and Research
              Ph.D. Program Director, Professor of Accounting
            </h5>
          </div>
          <div class="row no-mrg pt-4">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="profile-details-img">
                <img class="clip-mask-top-right"
                  src="{{ path '/college-dls/college/images/faculty/Jonathon-Halbesleben.jpg'}}" alt="User Image">
              </div>
            </div>
            <!-- Contact Details -->
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
              <div class="accounting-faculty-content">
                <div class="faculty-contact-list">
                  <h2>Contact</h2>
                  <ul class="list-unstyled">
                    <li><span class="icon"><i class="fas fa-building" aria-hidden="true"></i></span> BB 4.01.18</li>
                    <li><span class="icon"><i class="far fa-envelope" aria-hidden="true"></i></span> <a
                        href="mailto:juan.manuel.sanchez@utsa.edu">juan.manuel.sanchez@utsa.edu</a></li>
                    <li><span class="icon"><i class="fas fa-mobile-alt" aria-hidden="true"></i></span> <a
                        href="tel:210.458.5572">210.458.5572</a></li>
                    <li><span class="icon"><i class="far fa-file" aria-hidden="true"></i></span><a href="#">Download
                        CV</a></li>
                  </ul>
                </div>
                <div class="faculty-degree-list">
                  <h5>Degree</h5>
                  <ul>
                    <li>Ph.D. The University of Texas at San Antonio</li>
                    <li>M.S. St. Mary's University</li>
                    <li>MBA St. Mary's University</li>
                    <li>BBA St. Mary's University</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--End Contact Details -->

            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="profile-details-content">

                <h3 class="profile-details-section">Bio</h3>
                <p>Bacon ipsum dolor amet turducken buffalo pancetta, salami ham hock fatback meatball biltong tail
                  chuck doner. Frankfurter pork fatback prosciutto pork chop. Meatball venison pancetta turkey, beef
                  ribs hamburger chicken shankle bacon chuck chislic. Flank shank spare ribs capicola.</p>
                <p>Capicola bresaola hamburger, shank pork chicken chislic frankfurter. Porchetta leberkas spare ribs
                  ham hock pastrami jowl burgdoggen jerky pork loin kevin venison strip steak pork chop. Shank ribeye
                  chislic, pork belly tail boudin jowl kevin ball tip beef cow swine. Short loin kevin frankfurter
                  salami, leberkas sirloin landjaeger beef ribs strip steak. Burgdoggen bacon ham, andouille salami
                  landjaeger meatball chuck pork chop short loin ribeye.</p>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <h3 class="profile-details-section">Teaching</h3>
                    <div class="profile-details-list">
                      <ul>
                        <li>Javascript 101</li>
                        <li>Javascript 102</li>
                        <li>Velocity 42</li>
                        <li>CSS 3</li>
                        <li>HTML5</li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <h3 class="profile-details-section">Research Interests</h3>
                    <div class="profile-details-list">
                      <ul>
                        <li>Websites</li>
                        <li>Running</li>
                        <li>Spikeball</li>
                        <li>Ultimate Frisbee&nbsp;</li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <h3 class="profile-details-section">Degrees</h3>
                    <div class="profile-details-list">
                      <ul>
                        <li>B.S. in Mass Communications at CSU-Pueblo</li>
                        <li>M.S. in Organizational Development Leadership</li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <h3 class="profile-details-section">Recent Media and Clips</h3>
                    <div class="profile-details-list">
                      <ul>
                        <li><a
                            href="https://gazette.com/business/colordo-springs-teams-developing-apps-for-restaurants-water-rights-advance-to-go-code-finals/article_0a1f6e48-8726-5e67-a3c1-3e0cf1b6b4b8.html"
                            target="_blank">2017 - Go Code Colorado Finalist, State of Colorado</a></li>
                        <li><a href="https://www.csupueblo.edu/news/2017/04-20-outstanding-faculty-staff-luncheon.html"
                            target="_parent">CSU-Pueblo honors outstanding faculty and staff at luncheon</a></li>
                        <li><a
                            href="https://www.csupueblo.edu/classified-staff-council/employee-of-the-year-awards.html"
                            target="_parent">Employee of the Year Awards</a></li>
                        <li><a href="https://socopressclub.org/awards/media-excellence/" target="_parent">Media
                            Excellence</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div id="results"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--BEGIN UTSA DISCOVERY CODE-->
    <section class="position-relative py-5">
      <div class="container">
        <div class="profile-details-component-div white">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" id="results">
            <input type="hidden" value="000sul313" id="uuid" name="uuid" />

            <input type="hidden" value="5" id="awardsCount" name="awardsCount" />
            <input type="hidden" value="5" id="presentationsCount" name="presentationsCount" />
            <input type="hidden" value="5" id="grantsCount" name="grantsCount" />
            <input type="hidden" value="5" id="patentsCount" name="patentsCount" />
            <input type="hidden" value="5" id="clinicalTrialsCount" name="clinicalTrialsCount" />
            <input type="hidden" value="500" id="publicationsCount" name="publicationsCount" />

            <h3 class="profile-details-section">UTSA Discovery: </h3>
            <ul id="utsa-discovery-items" class="text-sm-left">

            </ul>

            <div class="d-none" id="awards">
              <h3 class="profile-details-section">Awards</h3>

            </div>

            <div class="d-none" id="presentations">
              <h3 class="profile-details-section">Presentations</h3>

            </div>

            <div class="d-none" id="grants">
              <h3 class="profile-details-section">Grants</h3>

            </div>

            <div class="d-none" id="publications">
              <h3 class="profile-details-section">Publications</h3>

            </div>

          </div>
        </div>
      </div>
    </section>
    <!--END UTSA DISCOVERY CODE-->


    <!-- ENROLLMENT CTA -->
    {{ render '@enrollment-call-to-action' }}
    <!-- END CTA -->
  </main>
  <!-- End Main Content Body -->
  {{ render '@global-footer' }}
</div>