<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    {{ render '@global-header--rebrand' }}
    {{ render '@site-navigation' }}
  </header>
  <!-- Header Section End -->
  <!-- Main Content Body -->
  <main>
    <!--Slider -->
    <section class="slider-wrapper" id="main-slider-wrapper">
      {{> @banner--slim}}
      {{> @breadcrumb }}
    </section>
    <!-- End Slider -->
    <section class="position-relative py-5" id="skipToContent">
      <div class="container">
        {{render '@profile-info' action merge=true}}

    <!--BEGIN UTSA DISCOVERY CODE-->
        <div class="profile-details-component-div">
          <div class="row no-mrg">
            <div class="col-12" id="results">
              <div class="profile-discovery-content">
                <input type="hidden" value="000xdx959" id="uuid" />
                <input type="hidden" value="5" id="awardsCount" />
                <input type="hidden" value="500" id="presentationsCount" />
                <input type="hidden" value="1" id="grantsCount" />
                <input type="hidden" value="5" id="patentsCount" />
                <input type="hidden" value="5" id="clinicalTrialsCount" />
                <input type="hidden" value="25" id="publicationsCount" />

                <h3 class="profile-details-section">UTSA Discovery: </h3>
                <ul id="utsa-discovery-items" class="text-sm-left">
                </ul>
                <div class="d-none" id="awards">
                  <h3 class="profile-details-section">Awards</h3>
                </div>
                <div class="d-none" id="presentations">
                  <h3 class="profile-details-section">Presentations</h3>
                </div>
                <div class="d-none" id="grants">
                  <h3 class="profile-details-section">Grants</h3>
                </div>
                <div class="d-none" id="publications">
                  <h3 class="profile-details-section">Publications</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!--END UTSA DISCOVERY CODE-->


    <!-- ENROLLMENT CTA -->
    {{ render '@enrollment-call-to-action' }}
    <!-- END CTA -->
  </main>
  {{ render '@back-to-top' }}  
  <!-- End Main Content Body -->
  {{ render '@global-footer' }}
</div>