<div class="staff-card-component-div">
    <div class="row mb-5">
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="{{path image}}" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h2 class="h4">Contact</h2>
                <p class="staff-card-name">{{ name }}</p>
                <p class="profile-card-title mb-3">{{ title }}</p>
                <p class="staff-card-department">{{ department }}</p>
                <p class="mail-info">
                     <span class="icon"><i class="far fa-envelope fa-sm pr-1" aria-hidden="true"></i></span> <a href="#">{{ email }}</a>
                </p>
            </div>
        </div>
    </div>
</div>

