<div class="contact-card">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="{{path image}}" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h4>Contact</h4>
                <p class="staff-card-name">{{ firstName }} {{ lastName }}</p>
                <p class="staff-card-department">{{ department }}</p>
                <a class="mail-info" href="mailto:{{ email }}">{{ email }}</a>
            </div>
        </div>
    </div>
</div>