<section class="banner" id="banner-rotating">
   <div class="slider-wrapper">
      <div id="hero-slider" class="carousel slide" data-ride="carousel">
         <!-- The slideshow -->
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="hero-banner-slider"
                  style="background-image: url('{{ path '/college-dls/college/images/slider-bg.png'}}');">
                  <div class="container">
                     <div class="hero-banner-content">
                        <h1 class="banner-heading">{{ banner.text }} <span class="display-block">Or Page Title</span></h1>
                        <p class="banner-description">Lorem ipsum dolor sit amet, <span
                              class="display-block">consectetur adipiscing elit.</span></p>
                        <div class="banner-btns">
                           <a class="orange-btn" href="#">Action</a>
                           <a class="white-btn" href="#">Action</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="hero-banner-slider"
                  style="background-image: url('{{ path '/college-dls/college/images/hero-banner.png'}}');">
                  <div class="container">
                     <div class="hero-banner-content">
                        <h1 class="banner-heading">{{ banner.text }} <span class="display-block">Or Page Title</span></h1>
                        <p class="banner-description">Lorem ipsum dolor sit amet, <span
                              class="display-block">consectetur adipiscing elit.</span></p>
                        <div class="banner-btns">
                           <a class="orange-btn" href="#">Action</a>
                           <a class="white-btn" href="#">Action</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="hero-banner-slider"
                  style="background-image: url('{{ path '/college-dls/college/images/slider-bg.png'}}');">
                  <div class="container">
                     <div class="hero-banner-content">
                        <h1 class="banner-heading">{{ banner.text }} <span class="display-block">Or Page Title</span></h1>
                        <p class="banner-description">Lorem ipsum dolor sit amet, <span
                              class="display-block">consectetur adipiscing elit.</span></p>
                        <div class="banner-btns">
                           <a class="orange-btn" href="#">Action</a>
                           <a class="white-btn" href="#">Action</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="hero-banner-slider"
                  style="background-image: url('{{ path '/college-dls/college/images/hero-banner.png'}}');">
                  <div class="container">
                     <div class="hero-banner-content">
                        <h1 class="banner-heading">College Name <span class="display-block">Or Page Title</span></h1>
                        <p class="banner-description">Lorem ipsum dolor sit amet, <span
                              class="display-block">consectetur adipiscing elit.</span></p>
                        <div class="banner-btns">
                           <a class="orange-btn" href="#">Action</a>
                           <a class="white-btn" href="#">Action</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Indicators -->
         <ul class="carousel-indicators container">
            <li><button data-bs-target="#hero-slider" data-bs-slide-to="0" class="active"
                  aria-label="Slide First">&nbsp;</button></li>
            <li><button data-bs-target="#hero-slider" data-bs-slide-to="1" aria-label="Slide Second">&nbsp;</button>
            </li>
            <li><button data-bs-target="#hero-slider" data-bs-slide-to="2" aria-label="Slide Third">&nbsp;</button></li>
            <li><button data-bs-target="#hero-slider" data-bs-slide-to="3" aria-label="Slide Fourth">&nbsp;</button>
            </li>
         </ul>
         <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#hero-slider" data-bs-slide="prev" aria-label="Previous Arrow">
            <span class="carousel-prev-icon"><i class="fal fa-arrow-left" aria-hidden="true"></i></span>
         </a>
         <a class="carousel-control-next" href="#hero-slider" data-bs-slide="next" aria-label="Next Arrow">
            <span class="carousel-next-icon"><i class="fal fa-arrow-right" aria-hidden="true"></i></span>
         </a>
         <div id="carousel-button">
            <button id="playButton" type="button" class="btn" aria-label="play">
               <i class="fas fa-play-circle" aria-hidden="true"></i>
            </button>
            <button id="pauseButton" type="button" class="btn" aria-label="pause">
               <i class="fas fa-pause-circle" aria-hidden="true"></i>
            </button>
         </div>
      </div>
   </div>
</section>