    <div class="deadline-card grey-bg">
        <p class="card-month">{{ month }}</p>
        <h2 class="card-date">{{ date }}</h2>
        <p class="card-year">{{ year }}</p>
        <a href="#" class="deadline-card-link">{{ headline }}</a>
        <p>{{ text }}</p>
    </div>
