<div class="event-horizontal-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="events-listing-img">
                    <img class="clip-mask-top-right" src="{{ path image }}" alt="Event Listing">
                    <div class="date-absolute">
                        <p class="months">{{ month }}</p>
                        <p class="months-date">{{ date }}</p>
                        <p class="year">{{ year }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="events-listing-content">
                    <a class="event-link-overlay" href="#" aria-label="Event Overlay">&nbsp;</a>
                    <h5>{{ headline }}</h5>
                    <p>{{ subheading }}</p>
                    <div class="right-arrow">
                        <img src="{{ path '/college-dls/utsa/images/Corner-Arrow.png' }}" alt="Arrow Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>