<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    {{ render '@global-header--rebrand' }}
    {{ render '@site-navigation' }}
  </header>
  <!-- Header Section End -->
  <!-- Main Content Body -->
  <main>
 <!--Slider -->
    <section class="slider-wrapper" id="main-slider-wrapper">
      {{> @banner--slim}}
      {{> @breadcrumb }}
    </section>
    <!-- End Slider -->
    <!--Begin Form Element-->
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 id="facultyTop">Search Resources</h2>
            <div class="program-listing-a orange-bg">
              <form class="form-design" id="formResources">
                <div class="row">
                  <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12 col-sm-12">
                    <div class="form-group input-design"><label class="visually-hidden" for="search-resources">Search
                        Resources</label> <input id="search-resources" name="search-resources"
                        placeholder="Search Resources" type="text" /></div>
                  </div>
                  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12">
                    <div class="form-group submit-design"><button class="blue-btn form-btn" title="Search Resources"
                        type="submit" value="Search">Search</button></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Form Element-->

    <!--Begin Search Results-->
    <section class="content-listing py-5" id="skipToContent">
    <div class="container">
      <h3 id="search-results" class="orange-a11y visually-hidden pb-3">Search Results</h3>
          <div class="row">
            {{#each cards as |card|}}
              <div class="col-lg-4 col-md-6 col-sm-12 picture-item">
                  {{render '@action-card--grey' card merge=true}}
              </div>
            {{/each}} 
          </div>                     
    </div>
</section>
<!--End Search Results-->

  </main>
  {{ render '@back-to-top' }} 
  <!-- End Main Content Body -->
  {{ render '@global-footer' }}
</div>