<div id="body-wrapper">
   <div id="skip-content"><button class="Skip-btn">Skip To Main Content</button></div>
   <!-- Header Section -->
   <header id="header" class="main-header">
      {{ render '@site-navigation' }}
      <!--Slider -->
      <div class="slider-wrapper" id="main-slider-wrapper">
         {{ render '@banner--rotating'}}
         <!-- Find Your Program -->
         {{ render '@form--program'}}
         <!--End Find Your Program -->
      </div>
      <!-- End Slider -->
   </header>
   <!-- Header Section End -->
   <!-- Loader -->
   <div id="cover">
      <div class="loading-spin"><i class="fas fa-spinner"></i></div>
   </div>
   <!-- End Loader -->
   <!-- Main Content Body -->
   <main>
      <!-- Call To Action - Buttons Only - No Image -->
      {{ render '@call-to-action-buttons--grey' }}
      <!-- End Call To Action -->

      <!-- Call To Action - Button with Image -->
      {{ render '@call-to-action-image' }}
      <!-- End Call To Action -->

      <!-- Call To Action - Button with Image (on Left) -->
      {{ render '@call-to-action-image--left' }}
      <!-- End Call To Action -->

      <!-- Quick Face Numbers -->
      {{ render '@quickfacts--blue' }}
      <!--End Quick Face Numbers -->

      <!-- Upcoming Events -->
      {{ render '@event-group' }}
      <!--End Upcoming Events -->
      <!-- News -->
      <section class="utsa-hcpa-news-sec position-relative z-index-0 half-bg-shape">
         <div class="container">
            <div class="news-card">
               <div class="inner-sec-headings">
                  <h4>UTSA College Of HCAP News</h4>
                  <a class="view-all-link" href="#">Read All News Stories <i class="fas fa-arrow-right"></i></a>
               </div>
               <div class="row">
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                     <div class="news-card-componet-div white">
                        <div class="news-card-img">
                           <img src="images/research-news.png" alt="Card Image">
                        </div>
                        <div class="news-card-cntnt">
                           <p class="news-date">June 1, 2021</p>
                           <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
                           <p class="published-status">Published By Lorem Ipsum</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Susp endisse vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Susp endisse vel.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                     <div class="news-card-componet-div white">
                        <div class="news-card-img">
                           <img src="images/research-news-2.png" alt="Card Image">
                        </div>
                        <div class="news-card-cntnt">
                           <p class="news-date">June 1, 2021</p>
                           <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
                           <p class="published-status">Published By Lorem Ipsum</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                     <div class="news-card-componet-div white">
                        <div class="news-card-img">
                           <img src="images/research-newa-3.png" alt="Card Image">
                        </div>
                        <div class="news-card-cntnt">
                           <p class="news-date">June 1, 2021</p>
                           <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
                           <p class="published-status">Published By Lorem Ipsum</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--End News -->
      {{ render '@gallery-call-to-action' }}
      {{ render '@enrollment-call-to-action' }}
   </main>
   <!-- End Main Content Body -->
   {{ render '@global-footer' }}
</div>
