<div class="news-card white-bg">
    <div class="news-card-img">
        <img width="325px" height="168px" src="{{path image}}" alt="Card Image"  loading="lazy" />
    </div>
    <div class="news-card-content">
        <p class="news-date">{{ pubdate }}</p>
        <a class="news-card-link" href="#">{{ headline }}</a>
        <p class="published-status">{{ published }}</p>
        <p>{{ text }}</p>
    </div>
</div>