<!-- Related Stories -->
<div class="news-sidebar p-3 col-12 col-md-4 border mb-4">
            <div class="news-sidebar-title">{{ title }}</div>
            <div class="row align-items-center learn-more-item">
                <div class="col-12 col-md-2 learn-more-image text-center text-md-start"><img class="learn-more-thumbnail"
                        src="{{ path image }}" /></div>
                <div class="col-12 col-md-10 learn-more-link text-center text-md-start"><a href="#" aria-label="Learn More"> {{
                        link-text }}</a></div>
            </div>
            <div class="row align-items-center learn-more-item">
                <div class="col-12 col-md-2 learn-more-image text-center text-md-start"><img class="learn-more-thumbnail" src="{{ path image }}" /></div>
                <div class="col-12 col-md-10 learn-more-link text-center text-md-start"><a href="#" aria-label="Learn More"> {{ link-text }}</a></div>
            </div>
            <div class="row align-items-center learn-more-item">
                <div class="col-12 col-md-2 learn-more-image text-center text-md-start"><img class="learn-more-thumbnail"
                        src="{{ path image }}" /></div>
                <div class="col-12 col-md-10 learn-more-link text-center text-md-start"><a href="#" aria-label="Learn More"> {{
                        link-text }}</a></div>
            </div>
</div>
<!-- End Related Stories -->