<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    {{ render '@global-header' }}
    {{ render '@site-navigation' }}
  </header>
  <!-- Header Section End -->
  <!-- Loader -->
  <div id="cover">
    <div class="loading-spin"><i class="fas fa-spinner"></i></div>
  </div>
  <!-- End Loader -->
  <!-- Main Content Body -->
  <main>
    <!--Slider -->
    <section class="slider-wrapper" id="main-slider-wrapper">
      {{> @banner--slim}}
      {{> @breadcrumb }}
    </section>
    <!-- End Slider -->

    <section class="page-text-wrapper" id="skipToContent">
      <div class="container">
        <div class="row mobile-reverse-order">
          <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <h3>Lorem Ipsum </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta lobortis.
              Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur aliquet mattis
              elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna neque, bibendum in
              efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut sollicitudin nisl.
              Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in lorem pharetra dictum. Fusce
              pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque vehicula hendrerit id eu libero.</p>
            {{ render '@contact-callout--small'}}
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{render '@side-navigation'}}
          </div>
        </div>
      </div>
    </section>

    {{ render '@call-to-action-media--blue-left'}}

    <section class="find-your-program-sec">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="find-program-text">
              <h4>Find Your Program</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta lobortis.
                Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur aliquet mattis
                elit. </p>
            </div>
          </div>
          <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
            {{ render '@form--blue'}}
          </div>
        </div>
      </div>
    </section>

    {{render '@quickfacts--orange'}}

    {{render '@blockquote--image-heading'}}

    {{render '@faculty-group'}}

    <!-- ENROLLMENT CTA -->
    {{ render '@enrollment-call-to-action' }}
    <!-- END CTA -->
  </main>
  <!-- End Main Content Body -->
  {{ render '@global-footer' }}
</div>