<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="{{ path '/college-dls/css/site.css' }}" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>{{ _target.label }} Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="w-25">
                {{{ yield }}}
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="{{ path '/college-dls/js/vendor.min.js' }}" type="text/javascript"></script>
  <script src="{{ path '/college-dls/js/college-dls.min.js' }}" type="text/javascript"></script>
</body>


</html>