<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="{{ path '/college-dls/css/site.css' }}" />
  <link media="all" rel="stylesheet" href="{{ path '/college-dls/theme/theme.css' }}" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>{{ _target.label }} Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      {{{ yield }}}
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="{{ path '/college-dls/js/college-dls.js' }}" type="text/javascript"></script>
</body>


</html>