<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <ul class="list-unstyled headings-typography-ul">
        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 1</p>
            </div>
            <div class="w-75">
                <h1 class="display-1">{{ text }}</h1>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 2</p>
            </div>
            <div class="w-75">
                <h2 class="display-2">{{ text }}</h2>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 3</p>
            </div>
            <div class="w-75">
                <h3 class="display-3">{{ text }}</h3>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 4</p>
            </div>
            <div class="w-75">
                <h4 class="display-4">{{ text }}</h4>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 5</p>
            </div>
            <div class="w-75">
                <h5 class="display-5">{{ text }}</h5>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 6</p>
            </div>
            <div class="w-75">
                <h6 class="display-6">{{ text }}</h6>
            </div>
        </li>
    </ul>
</div>