<div class="standard-headlines-wrapper" id="Standard-Headlines">
    <div class="row no-mrg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H1</p>
                    </div>
                    <div class="w-75">
                        <h1>{{ text }}</h1>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H1 .orange</p>
                    </div>
                    <div class="w-75">
                        <h1 class="orange">{{ text }}</h1>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H1 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h1 class="orange-a11y">{{ text }}</h1>
                    </div>
                </li>
            </ul>
            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H2</p>
                    </div>
                    <div class="w-75">
                        <h2>{{ text }}</h2>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H2 .orange</p>
                    </div>
                    <div class="w-75">
                        <h2 class="orange">{{ text }}</h2>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H2 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h2 class="orange-a11y">{{ text }}</h2>
                    </div>
                </li>
            </ul>
            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H3</p>
                    </div>
                    <div class="w-75">
                        <h3>{{ text }}</h3>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H3 .orange</p>
                    </div>
                    <div class="w-75">
                        <h3 class="orange">{{ text }}</h3>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H3 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h3 class="orange-a11y">{{ text }}</h3>
                    </div>
                </li>
            </ul>


            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H4</p>
                    </div>
                    <div class="w-75">
                        <h4>{{ text }}</h4>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H4 .orange</p>
                    </div>
                    <div class="w-75">
                        <h4 class="orange">{{ text }}</h4>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H4 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h4 class="orange-a11y">{{ text }}</h4>
                    </div>
                </li>
            </ul>


            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H5</p>
                    </div>
                    <div class="w-75">
                        <h5>{{ text }}</h5>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H5 .orange</p>
                    </div>
                    <div class="w-75">
                        <h5 class="orange">{{ text }}</h5>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H5 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h5 class="orange-a11y">{{ text }}</h5>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H6</p>
                    </div>
                    <div class="w-75">
                        <h6>{{ text }}</h6>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H6 .orange</p>
                    </div>
                    <div class="w-75">
                        <h6 class="orange">{{ text }}</h6>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H6 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h6 class="orange-a11y">{{ text }}</h6>
                    </div>
                </li>
            </ul>

        </div>

    </div>

</div>
