<section class="quick-fact-wrapper">
    <div class="container">
        <div class="row">
            {{#each items}}
                {{#if @first}}
                    <div class="offset-lg-1 col-lg-2 col-md-2 col-sm-12">
                        <div class="quick-facts-content">
                            <h2>{{ headline }}</h2>
                            <p>{{ text }}</p>
                        </div>
                    </div>
                {{/if}}
                {{else}}
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="quick-facts-content">
                            <h2>{{ headline }}</h2>
                            <p>{{ text }}</p>
                        </div>
                    </div>
            {{/each}}
        </div>
    </div>
</section>
