<div class="profile-card-componet-div blue">
    <div class="profile-card-img">
        <img src="{{path image}}" alt="Card Image">
    </div>
    <div class="profile-card-cntnt">
        <a href="#" class="card-link">{{ name }}</a>
        <p class="profile-card-title">{{ title }}</p>
        <a class="phone-no" href="tel:{{ phone }}">{{ phone }}</a> 
        <a class="mail-info" href="mailto:{{ email }}">{{ email }}</a>
    </div>div>
</div>