<div class="profile-card white-bg">
    <div class="profile-card-img">
        <img src="{{path image}}" alt="Card Image" loading="lazy">
    </div>
    <div class="profile-card-content">
        <p class="profile-card-name">
            {{#if link }}
                <span class="icon"><i class=" fa-solid fa-link" aria-hidden="true"></i></span> <a href="#">{{ name }}</a>
            {{else}}
                {{ name }}
            {{/if}}
        </p>
        <p class="profile-card-title">{{ title }}</p>
        <p><span class="icon"><i class="far fa-mobile" aria-hidden="true"></i></span> <a class="phone-no" href="tel:{{ phone }}">{{ phone }}</a></p>
        <p><span class="icon"><i class="far fa-envelope" aria-hidden="true"></i></span> <a class="mail-info" href="mailto:{{ email }}">{{ email }}</a></p>
        <p class="profile-description">{{ content }}</p>
        <ul>
            <li>This is a short list item.</li>
            <li>This is a much longer list item for review purposes.</li>
        </ul>
        <p><a href="#" class="blue-btn">Link to something</a></p>
        <p><a href="#" class="orange-btn">Link to something</a></p>
        <p><a href="#" class="grey-btn">Link to something</a></p>
    </div>
</div>