<div class="profile-card white-bg">
    <div class="profile-card-img">
        <img src="{{path image}}" alt="Card Image">
    </div>
    <div class="profile-card-cntnt">
        <a href="#" class="profile-card-link">{{ name }}</a>
        <p class="profile-card-title">{{ title }}</p>
        <p class="profile-phone-no"><a href="tel:{{ phone }}">{{ phone }}</a></p>
        <p class="profile-mail-info"><a href="mailto:{{ email }}">{{ email }}</a></p>
        <p class="profile-description">{{ content }}</p>
    </div>
</div>