<div id="body-wrapper">
   <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
   <!-- Header Section -->
   <header id="header" class="main-header sticky-header">
      {{ render '@global-header' }}
      {{ render '@site-navigation' }}
   </header>
   <!-- Header Section End -->
   <!-- Loader -->
   <div id="cover">
      <div class="loading-spin"><i class="fas fa-spinner"></i></div>
   </div>
   <!-- End Loader -->
   <!-- Main Content Body -->
   <main>
      <!--Slider -->
      <section class="slider-wrapper" id="main-slider-wrapper">
         {{ render '@banner--rotating'}}
         <!-- Find Your Program -->
         {{ render '@form--program'}}
         <!--End Find Your Program -->
      </section>
      <!-- End Slider -->
      <div id="skipToContent"></div>
      <!-- Call To Action - Buttons Only - No Image -->
      {{ render '@call-to-action-buttons--grey' }}
      <!-- End Call To Action -->

      <!-- Call To Action - Button with Image -->
      {{ render '@call-to-action-media' }}
      <!-- End Call To Action -->

      <!-- Call To Action - Button with Image (on Left) -->
      {{ render '@call-to-action-media--left' }}
      <!-- End Call To Action -->

      <!-- Quick Face Numbers -->
      {{ render '@quickfacts--blue' }}
      <!--End Quick Face Numbers -->

      <!-- Upcoming Events -->
      {{ render '@event-group' }}
      <!--End Upcoming Events -->

      <!-- News -->
      {{ render '@news-group' }}
      <!-- End News -->

      {{ render '@gallery-call-to-action' }}

      <!-- ENROLLMENT CTA -->
      {{ render '@enrollment-call-to-action' }}
      <!-- END CTA -->
   </main>
   <!-- End Main Content Body -->
   {{ render '@global-footer' }}
</div>
