<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main
      Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    {{render "@global-header"}}
    {{render "@site-navigation" navigation}}
  </header>
  <!-- Header Section End -->
  <!-- Main Content Body -->
  <!-- {{ banner.text }} -->
  <div id="main" role="main">
    <!--Slider -->
   {{> '@banner--video' context=banner }}
    <!-- End Slider -->
    <div id="skipToContent"></div>
    <!-- Call To Action - Buttons Only - No Image -->
    {{render "@call-to-action-buttons--grey"}}
    <!-- End Call To Action -->

    <!-- Call To Action - Button with Image -->
    {{render "@call-to-action-media"}}
    <!-- End Call To Action -->

  </div>
  {{render "@back-to-top"}}

  {{render "@site-footer" navigation}}

  <!-- End Main Content Body -->
  {{render "@global-footer"}}
</div>