<div class="container">
  <h2>{{ header.text }}</h2>
  <div class="row">
    <div class="col-md-3">
      <a class="popupYoutube" href="https://www.youtube.com/watch?v=3lztWxiJ170">
        <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img alt="Adobe Journeys - Week 6 Adobe with a broken arm
" src="{{ path images.image1 }}">
      </a>
    </div>
    <div class="col-md-3">
      <a class="popupYoutube" href="https://www.youtube.com/watch?v=zpvoYp9osDQ">
        <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img
          alt="Adobe Quick Tips - Compositing in Photoshop" src="{{ path images.image2 }}">
      </a>
    </div>
    <div class="col-md-3">
      <a class="popupYoutube" href="https://www.youtube.com/watch?v=FiRMQpyJBK8">
        <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img
          alt="Journeys with Adobe - Aaron Rodriguez" src="{{ path images.image3 }}">
      </a>
    </div>
    <div class="col-md-3">
      <a class="popupYoutube" href="https://www.youtube.com/watch?v=S_5HKIYvG5w">
        <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img
          alt="Journeys with Adobe - Elena Camargo" src="{{ path images.image4 }}">
      </a>
    </div>
  </div>

</div>
</section>