<div class="container">
        <h2>{{ header.text }}</h2>
        <div class="row">
                <div class="col-12 col-sm-6 col-md-3 mb-4">
                        <a class="popup-gallery" title="This is the title 1" data-caption="This is the data caption 1" href="{{ path images.image1 }}">
                                <img alt="Two students talking next to a window" data-src="{{ path images.image1 }}" data-srcset="{{ path images.image1 }}" src="{{ path images.image1 }}" />
                        </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-4">
                        <a class="popup-gallery" title="This is the title 2" data-caption="This is the data caption 2" href="{{ path images.image2 }}">
                                <img alt="Engineering toys" data-src="{{ path images.image2 }}" data-srcset="{{ path images.image2 }}" src="{{ path images.image2 }}">
                        </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
                        <a class="popup-gallery" title="This is the title 3" data-caption="This is the data caption 3" href="{{ path images.image3 }}">
                                <img alt="A student writing while examining an item in a lab" data-src="{{ path images.image3 }}" data-srcset="{{ path images.image3 }}" src="{{ path images.image3 }}">
                        </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-0">
                        <a class="popup-gallery" title="This is the title 4" data-caption="This is the data caption 4" href="{{ path images.image4 }}">
                                <img alt="A student holding an item" data-src="{{ path images.image4 }}" data-srcset="{{ path images.image4 }}" src="{{ path images.image4 }}">
                        </a>
                </div>
        </div>
        <div class="row pt-4">
                <div class="col-12 col-sm-6 col-md-3 mb-4">
                        <a class="popup-gallery" title="This is the title 5" data-caption="This is the data caption 5" href="{{ path images.image5 }}">
                                <img alt="Three student posing for the camera" data-src="{{ path images.image5 }}" data-srcset="{{ path images.image5 }}" src="{{ path images.image5 }}">
                        </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-4">
                        <a class="popup-gallery" title="This is the title 6" data-caption="This is the data caption 6" href="{{ path images.image6 }}">
                                <img alt="Group of students in caps and gowns posing on stairs" data-src="{{ path images.image6 }}" data-srcset="{{ path images.image6 }}" src="{{ path images.image6 }}">
                        </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
                        <a class="popup-gallery" title="This is the title 7" data-caption="This is the data caption 7" href="{{ path images.image7 }}">
                                <img alt="Graduating student giving a thumbs up at ceremony" data-src="{{ path images.image7 }}" data-srcset="{{ path images.image7 }}" src="{{ path images.image7 }}">
                        </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-0">
                        <a class="popup-gallery" title="This is the title 8" data-caption="This is the data caption 8" href="{{ path images.image8 }}">
                                <img alt="Group of four students walking and talking" data-src="{{ path images.image8 }}" data-srcset="{{ path images.image8 }}" src="{{ path images.image8 }}">
                        </a>
                </div>
        </div>
</div>