
      <div class="container">
        <h2>{{ header.text }}</h2>
        <div class="row">
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 1" data-caption="This is the data caption 1" href="{{ images.image1 }}">
                                                    <img alt="Two students talking next to a window" data-src="{{ images.image1 }}" data-srcset="{{ images.image1 }}" src="{{ images.image1 }}">
                                            </a></div>
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 2" data-caption="This is the data caption 2" href="{{ images.image2 }}">
                                                    <img alt="Engineering toys" data-src="{{ images.image2 }}" data-srcset="{{ images.image2 }}" src="{{ images.image2 }}">
                                            </a></div>
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 3" data-caption="This is the data caption 3" href="{{ images.image3 }}">
                                                    <img alt="A student writing while examining an item in a lab" data-src="{{ images.image3 }}" data-srcset="{{ images.image3 }}" src="{{ images.image3 }}">
                                            </a></div>
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 4" data-caption="This is the data caption 4" href="{{ images.image4 }}">
                                                    <img alt="A student holding an item" data-src="{{ images.image4 }}" data-srcset="{{ images.image4 }}" src="{{ images.image4 }}">
                                            </a></div>
        </div>
        <div class="row pt-5">
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 5" data-caption="This is the data caption 5" href="{{ images.image5 }}">
                                                    <img alt="Three student posing for the camera" data-src="{{ images.image5 }}" data-srcset="{{ images.image5 }}" src="{{ images.image5 }}">
                                            </a></div>
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 6" data-caption="This is the data caption 6" href="{{ images.image6 }}">
                                                    <img alt="Group of students in caps and gowns posing on stairs" data-src="{{ images.image6 }}" data-srcset="{{ images.image6 }}" src="{{ images.image6 }}">
                                            </a></div>
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 7" data-caption="This is the data caption 7" href="{{ images.image7 }}">
                                                    <img alt="Graduating student giving a thumbs up at ceremony" data-src="{{ images.image7 }}" data-srcset="{{ images.image7 }}" src="{{ images.image7 }}">
                                            </a></div>
          <div class="col-md-3"><a class="popup-gallery" title="This is the title 8" data-caption="This is the data caption 8" href="{{ images.image8 }}">
                                                    <img alt="Group of four students walking and talking" data-src="{{ images.image8 }}" data-srcset="{{ images.image8 }}" src="{{ images.image8 }}">
                                            </a></div>
        </div>
      </div>