
<div class="news-card" style="margin-bottom: 150px;">
    <h6 class="h6 fw-bold">Blue Example</h6>
<div class="inner-sec-headings">
    
<h4>UTSA News</h4>
<a class="view-all-link" href="#">Read All News Stories <i class="fas fa-arrow-right"></i></a>
</div>
<div class="row">
<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
<div class="news-card-componet-div blue">
<div class="news-card-img">
<img src="{{ news-image }}" alt="Card Image">
</div>
<div class="news-card-cntnt">
<p class="news-date">June 1, 2021</p>
<a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
<p class="published-status">Published By Lorem Ipsum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
<div class="news-card-componet-div blue">
<div class="news-card-img">
<img src="{{ news-image-01 }}" alt="Card Image">
</div>
<div class="news-card-cntnt">
<p class="news-date">June 1, 2021</p>
<a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
<p class="published-status">Published By Lorem Ipsum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
<div class="news-card-componet-div blue">
<div class="news-card-img">
<img src="{{ news-image-02 }}" alt="Card Image">
</div>
<div class="news-card-cntnt">
<p class="news-date">June 1, 2021</p>
<a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
<p class="published-status">Published By Lorem Ipsum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
</div>

<div class="news3-card-laout-grey position-relative">
<div class="news-card">
    <h6 class="h6 fw-bold">Gray Example</h6>
<div class="inner-sec-headings">
    
<h4>UTSA News</h4>
<a class="view-all-link" href="#">Read All News Stories <i class="fas fa-arrow-right"></i></a>
</div>
<div class="row">
<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
<div class="news-card-componet-div white">
<div class="news-card-img">
<img src="{{ news-image }}" alt="Card Image">
</div>
<div class="news-card-cntnt">
<p class="news-date">June 1, 2021</p>
<a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
<p class="published-status">Published By Lorem Ipsum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
<div class="news-card-componet-div white">
<div class="news-card-img">
<img src="{{ news-image-01 }}" alt="Card Image">
</div>
<div class="news-card-cntnt">
<p class="news-date">June 1, 2021</p>
<a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
<p class="published-status">Published By Lorem Ipsum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
<div class="news-card-componet-div white">
<div class="news-card-img">
<img src="{{ news-image-02 }}" alt="Card Image">
</div>
<div class="news-card-cntnt">
<p class="news-date">June 1, 2021</p>
<a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit.</a>
<p class="published-status">Published By Lorem Ipsum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
</div>
</div>
</div>



