<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Loader -->
  <div id="cover">
    <div class="loading-spin"><i class="fas fa-spinner"></i></div>
  </div>
  <!-- End Loader -->
  <!-- Main Content Body -->
  <main id="skipToContent">
    <h1>Stacked Component Testing Page</h1>
    <h2 class="display-2">TESTING ONLY - DO NOT USE</h2>

    {{ render '@link-list' link-list-context }}

    {{ render '@call-to-action-media--orange' cta-media-context }}
    {{ render '@call-to-action-media--orange-left' cta-media-context }}

    {{ render '@call-to-action-media--blue' cta-media-context }}
    {{ render '@call-to-action-media--blue-left' cta-media-context }}

    {{ render '@call-to-action-buttons--grey' }}
    {{ render '@call-to-action-buttons--blue' }}
    {{ render '@call-to-action-buttons--grey' }}


    {{ render '@call-to-action-media--orange' cta-media-context }}
    {{ render '@call-to-action-media--blue-left' cta-media-context }}

    {{ render '@call-to-action-media--orange-left' cta-media-context }}
    {{ render '@call-to-action-media--blue' cta-media-context }}

    {{ render '@call-to-action-buttons--grey' }}
    {{ render '@call-to-action-buttons--blue' }}
    {{ render '@call-to-action-buttons--grey' }}

    {{ render '@call-to-action-media--blue' cta-media-context }}
    {{ render '@call-to-action-buttons--grey' cta-media-context }}
    {{ render '@call-to-action-media--orange-left' cta-media-context }}
    {{ render '@call-to-action-media--left' cta-media-context }}
    {{ render '@call-to-action-media--blue-left' cta-media-context }}

    {{ render '@call-to-action-buttons' }}
    {{ render '@call-to-action-media--orange' cta-media-context }}
    {{ render '@call-to-action-media' cta-media-context }}
    {{ render '@call-to-action-media--blue' cta-media-context }}

    <!-- END CTA -->
  </main>

</div>