<h3>Color</h3>
<div class="Prose">
    <div class="grid-list">
        <div class="grid-list__item">
            {{#each foreground }}
            <div class="color" style="color: {{ hex }}">
                <pre>{{ name }} {{ class }}
                <span>{{ hex }}</span></pre>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<h3>Background</h3>
<div class="Prose">
    <div class="grid-list">
        <div class="grid-list__item mb-1 mt-3">
            {{#each background }}
            <div class="color" style="color: {{ hex }}">
                <pre>{{ name }} {{ class }}
                <span>{{ hex }}</span></pre>
            </div>
            {{/each}}
        </div>
    </div>
</div>