<h3>Legacy Colors (Vendor Supplied)</h3>
<div class="row">
    {{#each foreground-legacy }}
    <div class="col-3 p-0 border">
        <div class="color" style="color: {{ hex }}">
            <pre>{{ name }} {{ class }}
            <span>{{ hex }}</span></pre>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">&nbsp;</div>

<h3>Color (Standardized, new naming)</h3>
<div class="row">
    {{#each foreground }}
       <div class="col-3 p-0 border">
            <div class="color" style="color: {{ hex }}">
                <pre>{{ name }} {{ class }}
                <span>{{ hex }}</span></pre>
            </div>
        </div>
    {{/each}}
</div>

