<div class="standard-headlines-wrapper" id="Standard-Headlines">
    <div class="row no-mrg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="blue-label color-blue">H1</p>
                    </div>
                    <div class="w-75">
                        <h1>{{ text }}</h1>
                    </div>
                </li>

                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="blue-label color-blue">H2</p>
                    </div>
                    <div class="w-75">
                        <h2>{{ text }}</h2>
                    </div>
                </li>

                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="blue-label color-blue">H3</p>
                    </div>
                    <div class="w-75">
                        <h3>{{ text }}</h3>
                    </div>
                </li>

                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="blue-label color-blue">H4</p>
                    </div>
                    <div class="w-75">
                        <h4>{{ text }}</h4>
                    </div>
                </li>

                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="blue-label color-blue">H5</p>
                    </div>
                    <div class="w-75">
                        <h5>{{ text }}</h5>
                    </div>
                </li>

                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="blue-label color-blue">H6</p>
                    </div>
                    <div class="w-75">
                        <h6>{{ text }}</h6>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>
