<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    {{ render '@global-header--rebrand' }}
    {{ render '@site-navigation' }}
  </header>
  <!-- Header Section End -->
  <!-- Main Content Body -->
  <main>
 <!--Slider -->
    <section class="slider-wrapper" id="main-slider-wrapper">
      {{> @banner--slim}}
      {{> @breadcrumb }}
    </section>
    <!-- End Slider -->

    <section class="page-text-wrapper" id="skipToContent">
      <div class="container">

        <div class="row mb-5">
          <div class="col-12">
            <h2>{{ banner.text }}</h2>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iste odit, ex a reprehenderit doloribus! Maiores, inventore similique sit, odit ea minus cumque sunt doloribus quis beatae sequi et dolor.</p>
          </div>
        </div>
  
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="timeline timeline-left p-3 mb-3">
                <dl class="checkboxes" id="checklist-left-group">
                  <dt>
                    <dd class="ss-checklist"><input type="checkbox" checked="checked" data-bs-target="#year-1" data-bs-toggle="collapse" name="checkbox-year-1" id="checkbox-year-1" class="form-check-input" aria-expanded="true"> <label for="checkbox-year-1" class="form-check-label" id="label-year-1">Year 1</label></dd>
                  </dt>
                  <dt>
                    <dd class="ss-checklist"><input type="checkbox" checked="checked" data-bs-target="#year-2" data-bs-toggle="collapse" name="checkbox-year-2" id="checkbox-year-2" class="form-check-input" aria-expanded="true"> <label for="checkbox-year-2" class="form-check-label" id="label-year-2">Year 2</label></dd>
                  </dt>
                  <dt>
                    <dd class="ss-checklist"><input type="checkbox" checked="checked" data-bs-target="#year-3" data-bs-toggle="collapse" name="checkbox-year-3" id="checkbox-year-3" class="form-check-input" aria-expanded="true"> <label for="checkbox-year-3" class="form-check-label" id="label-year-3">Year 3</label></dd>
                  </dt>
                  <dt>
                    <dd class="ss-checklist"><input type="checkbox" checked="checked" data-bs-target="#year-4" data-bs-toggle="collapse" name="checkbox-year-4" id="checkbox-year-4" class="form-check-input" aria-expanded="true"> <label for="checkbox-year-4" class="form-check-label" id="label-year-4">Year 4</label></dd>
                  </dt>
                </dl>
              </div>
            </div>
            <div class="col-12 col-md-9">{{ render '@timeline' }}</div>
          </div>

      </div>
    </section>

  </main>
  {{ render '@back-to-top' }} 
  <!-- End Main Content Body -->
  {{ render '@global-footer' }}
</div>