<div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <a href="/visit/tours/">
            <img src="{{ path content-card.image }}" alt="Card Image" />
        </a>
    </div>
    <div class="highlight-card-content">
        <a class="highlight-card-link pb-3" href="{{ content-card.link-url }} ">{{ content-card.heading }}</a>
        <p>{{ content-card.content }}</p>
        <a class="blue-btn" href="{{ content-card.link-url }}">{{ content-card.link-text }} <i class="fas fa-arrow-right"
                aria-hidden="true"></i></a>
    </div>
</div>