<h3>Legacy Background (Vendor Supplied)</h3>
<div class="row">
    {{#each background-legacy }}
    <div class="col-4 p-0 border">
        <div class="bg-color {{ class }}">
            <div></div>
            <pre>{{ name }}
            <span>{{ className }}</span></pre>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">&nbsp;</div>

<h3>Legacy Background Patterns (Vendor Supplied)</h3>
<div class="row">
    {{#each pattern-legacy }}
    <div class="col-4 p-0 border">
        <div class="bg-color {{ class }}">
            <div></div>
            <pre>{{ name }}
            <span>{{ className }}</span></pre>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">&nbsp;</div>

<h3>Background (Standardized, new naming)</h3>
<div class="row">
    {{#each background }}
    <div class="col-4 p-0 border">
        <div class="bg-color {{ class }}">
            <div></div>
            <pre>{{ name }}
            <span>{{ className }}</span></pre>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">&nbsp;</div>

<h3>Background Patterns</h3>
<div class="row">
    {{#each pattern }}
    <div class="col-4 p-0 border">
        <div class="bg-color {{ class }}">
            <div></div>
            <pre>{{ name }}
            <span>{{ className }}</span></pre>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">&nbsp;</div>
