 <section class="my-5">
    <div class="container">
        <div class="row">
            <h2 class="h3 blue mb-3">{{ headline }}</h2>
            <div class="col-12 col-md-6">
                <ul class="resources-list">  
                    {{#each link-list}}             
                    <li><a href="{{ url }}">{{ text }}</a></li>
                    {{/each}}   
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="resources-list">
                    {{#each link-list}}             
                    <li><a href="{{ url }}">{{ text }}</a></li>
                    {{/each}}       
                </ul>
            </div>
        </div>
    </div>
 </section>